name: Update Readme
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: muety/wakapi-readme-stats@master # Wakapi 作者的版本
        with:
          WAKAPI_URL: ${{ secrets.WAKAPI_URL }}
          WAKAPI_API_KEY: ${{ secrets.WAKAPI_API_KEY }}
          API_BASE_URL: ${{ secrets.WAKAPI_URL }} # 从 Secrets 读取
          SHOW_COMMIT: "True"
          SHOW_LANGUAGE: "True"
