name: Update Readme
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: athul/waka-readme@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKAPI_API_KEY }}
          GH_TOKEN: ${{ secrets.METRICS_TOKEN }}
          API_BASE_URL: http://wakapi.陈莹.我爱你/api
          SHOW_COMMIT: "True"
          SHOW_LANGUAGE: "True"
