name: Metrics
on:
  schedule: [{ cron: "0 0 * * *" }]
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: iehtian # ✅ 你的用户名
          template: classic
          base: ""
          plugin_habits: yes
          plugin_habits_facts: no
          plugin_habits_charts: yes # ✅ 必须明确设置为 yes
          plugin_habits_charts_type: classic
          plugin_habits_days: 90
          plugin_habits_from: 200
          filename: github-metrics.svg
